@import "variables.scss";

.action-banners {
    position: fixed;
    bottom: 92px;
    left: 0px;
    width: 100%;
    z-index: 30;

    .action-banners__banner {
        margin: 8px;
        background-color: #333333;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
        border-radius: 3px;
        padding: 16px;
        color: white;
        
        &.no-margin-bottom {
            position: relative;
            top: 92px;
        }

        a {
            float: right;
            font-weight: bold;
            text-transform: uppercase;
        }
    }


}