@import "variables.scss";


.macro-category-selector {
    font-family: "Helvetica";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    top: 0px;
    left: 0px;
    color: $text-color-body;
    
    .macro-category-selector__title {
        font-size: 20px;
        text-align: center;
        margin-top: 64px;
        margin-bottom: 48px;
    }

    .macro-category-selector__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow-y: scroll;
        margin-bottom: 112px;

        .macro-category-selector__list-item {
            a {
                font-size: 28px;
            }
        }

        .macro-category-selector__list-item__separator {
                width: 100px;
                height: 1px;
                background-color: #BCBCBC;
                margin-top: 8px;
                margin-bottom: 8px;
        }
    }

    .macro-category-selector__close-button {
        height: 48px;
        width: 48px;
        color: $text-color-body;
        border-radius: 24px;
        border: solid 2px $text-color-body;
        font-size: 26px;
        line-height: 44px;
        text-align: center;
        margin-right: 4px;
        position: fixed;
        left: calc(50% - 24px);
        bottom: 64px;
    }
}

.welcome {
    font-family: "Helvetica";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 32px;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: #00000077;
        z-index: 1;
    }

    .welcome__content {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 32px;
    }

    .welcome__logo {
        text-align: center;
        margin-top: 16px;
        
        img.logo {
            width: 100%;
        }
    }

    .welcome__smart-menu {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        margin-top: 16px;
    }

    .welcome__business-box {
        padding: 32px;
        background-color: white;
        border-radius: $border-radius;
        margin-top: 16px;
    }

    .welcome__business-box__welcome-text {
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: $text-color-body;
    }

    .welcome__business-box__business-text {
        font-size: 36px;
        text-align: center;
        color: $text-color-body;
        margin-top: 16px;
    }

    .welcome__help {
        font-size: 22px;
        text-align: center;
        color: white;
        margin-top: 32px;
    }

    .btn {
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 30px;
        position: absolute;
        bottom: 64px;
        width: 50%;
        left: 25%;
    }

    .welcome__powered-by {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 16px;
        left: 0px;
    }
}


.app {
    font-family: "Helvetica";
    background-color: white;
    padding-bottom: 100px;
    color: $text-color-body;
    line-height: normal;
    padding-top: 64px;
    overflow-y: auto;

    a {
        transition: background-color 50ms linear;

        &.active {
            background-color: $hover-color;
        }
    }



    .app__table-header {
        display: flex;
        flex-direction: row;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;
        height: 64px;
        align-items: center;
        padding: 0px 0px 0px 8px;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: white;
        width: 100%;
        z-index: 10;

        .app__table-header__logo {
            img.logo {
                max-width: 150px;
                max-height: 60px;
            }
        }

        .app__table-header__title-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-left: 16px;
            text-align: right;

            .app__table-header__business-name {
                font-size: 11px;
                text-transform: uppercase;
            }
    
            .app__table-header__table-name {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 24px;
            }
        }        

        .app__table-header__bell-button {
            font-size: 24px;
            height: 48px;
            width: 48px;
            border-radius: 24px;
            background-color: #F2F2F2;
            text-align: center;
            line-height: 52px;
            margin: 0px 8px 0px 8px;
            
            &.ringing {
                animation: ring 1500ms ease-in-out;
                animation-iteration-count: infinite;
            }
        }
    }

    .app__macro-category {
        .app__macro-category__list-item {
            padding: 16px 16px 16px 16px;
            background-color: $background-color-body-inverse;
        }

        .app__macro-category__title {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color: $text-color-caption1-inverse;
        }

        .app__macro-category__selector {
            float: right;
            padding: 5px;
            margin-right: -5px;

            .navigation-trigger__line {
                background-color: $text-color-caption1-inverse;
            }
        }

        .app__category {

            .app__category__list-item {
                padding: 8px 16px 8px 16px;
                background-color: $background-color-1;
            }

            .app__category__title {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                color: $text-color-caption1;
                text-decoration: underline;
            }

            .app__article {
                border-bottom: solid 1px $border-color;
                position: relative;
                overflow: hidden;
                
                .app__article__list-item {
                    display: flex;   
                    flex-direction: row;
                    padding: 8px 16px 8px 16px;

                    .app__article__identification-group {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
    
                        .app__article__title {
                            font-size: 20px;
                            color: $text-color-body;
                            font-weight: bold;
                        }
        
                        .app__article__price {
                            font-size: 18px;
                            color: $text-color-caption3;
                        }
                    }
                }                            
            }
        }
    }

    .app__help-button {
        display: inline-block;
        font-weight: bold;
        font-size: 11px;
        border: solid 2px $text-color-caption3;
        width: 16px;
        height: 16px;
        text-align: center;
        border-radius: 5px;
        top: -2px;
        margin-left: 8px;
        position: relative;
        color: $text-color-caption3;
        line-height: 1;
    }

    .app__category__title {
        .app__help-button {
            top: 0px;
        }
    }

    .order-sheet {
        background-color: black;
        height: calc(100% - 64px);
        width: 100%;
        position: fixed;
        top: calc(100% - 92px);
        left: 0px;
        color: white;
        display: flex;
        flex-direction: column;
        transition: top 250ms, background-color 250ms;
        z-index: 20;
        //border-radius: 3px 3px 0px 0px;
        //box-shadow: 0px 0px 5px rgba(0,0,0,0.25);

        .order-sheet__loading-screen {
            position: fixed;
            width: 100%;
            margin-top: 160px;
            height: calc(100% - 160px);
            left: 0px;
            top: 0px;
            background-color: black;
            align-items: flex-end;
            justify-content: center;
            display: flex;
            padding-bottom: 100px;

            &.order-sheet__loading-screen--status-closed {
                background-color: $color-closed;
            }

            &.order-sheet__loading-screen--status-open {
                background-color: $color-open;
            }

            img {
                height: 50%;
                position: absolute;
                top: 64px;
                left: 0px;
            }
        }

        .no-articles {
            font-size: 12px;
            color: $text-color-caption3;
            padding-left: 16px;
        }

        .order-sheet__table {
            opacity: 0;
            font-size: 48px;
            color: white;
            padding: 16px;
            font-weight: 400;
            transition: opacity 250ms;
            position: absolute;
        }

        &.expanded {
            top: 64px;
        }

        &.minimized {
            top: 100%;

            .order-sheet__table {
                opacity: 0;
            }
        }

        &.order-sheet--status-open {
            background-color: $color-open;

            .order-sheet__commit-button {
                color: $color-open;

                .circle-loader {
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    border-left-color: $color-open;
                }
                
                .load-complete {
                    border-color: white;
                }

                .checkmark {
                    &:after {
                        border-right: 2px solid $color-open;
                        border-top: 2px solid $color-open;
                    }
                }
            }
        }

        &.order-sheet--status-closed {
            background-color: $color-closed;

            .order-sheet__commit-button {
                color: $color-closed;

                .circle-loader {
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    border-left-color: $color-closed;
                }
                
                .load-complete {
                    border-color: white;
                }

                .checkmark {
                    &:after {
                        border-right: 2px solid $color-closed;
                        border-top: 2px solid $color-closed;
                    }
                }
            }
        }

        .order-sheet__header {
            display: flex;
            flex-direction: column;
            padding: 16px;
            min-height: 92px;
            transition: margin-top 250ms;

            .order-sheet__header__added-quantity {
                font-size: 24px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 2px;
                margin-top: 4px;
            }

            .order-sheet__header__added-summary {
                font-size: 14px;
                font-weight: 400;
            }
        }

        .order-sheet__send-button {
            background-color: white;
            color: white;
            position: absolute;
            right: 16px;
            top: 22px;
            color: white;
            background-color: #00000033;
            height: 48px;
            width: 48px;
            border-radius: 24px;
            font-size: 18px;
        }

        .order-sheet__commit-button {
            background-color: white;
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 24px;

            span {
                padding-left: 8px;
            }
        }

        .order-sheet__swipe-handle {
            width: 100%;
            top: -8px;
            left: 0px;
            padding: 16px;
            position: absolute;
            text-align: center;
            height: 100px;

            .order-sheet__swipe-handle__line {
                display: block;
                width: 60px;
                height: 4px;
                background-color: white;
                border-radius: 4px;
                margin: auto;
                opacity: 0.5;
            }
        }

        .order-sheet__items {
            background-color: white;
            flex: 1;
            overflow-y: auto;

            .order-sheet__section {
                .order-sheet__section__list-item {
                    padding: 8px 16px 8px 16px;
                    border-bottom: solid 1px $border-color;
                    //border-top: solid 1px $border-color;
                }
    
                .order-sheet__section__title {
                    font-size: 13px;
                    font-weight: bold;                
                    text-transform: uppercase;
                    color: $text-color-caption3;
                }
    
                .order-sheet__article {
                    border-bottom: solid 1px $border-color;
                    position: relative;
                    overflow: hidden;

                    .presentation {
                        margin-top: 0px;
                        margin-bottom: 8px;

                        .presentation__options-container {
                            margin-bottom: 0px;
                        }                        
                    }

                    .order-sheet__article__remove-button {
                        display: block;
                        height: 48px;
                        color: $text-color-body;
                        border-radius: 24px;
                        border: solid 2px $text-color-body;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 44px;
                        text-align: center;
                        padding-left: 16px;
                        padding-right: 16px;
                        margin: 8px 16px 16px 16px;
                        text-transform: uppercase;
            
                        &.disabled {
                            color: $background-color-4;
                            border: solid 2px $background-color-4;
                        }
                    }

                    &.order-sheet__article--open {
                        .order-sheet__article__list-item {
                            .order-sheet__article__identification-group {
                                border-left: solid 3px $color-open;
                            }
                        }
                    }

                    &.order-sheet__article--closed {
                        .order-sheet__article__list-item {
                            .order-sheet__article__identification-group {
                                border-left: solid 3px $color-closed;
                            }
                        }                        
                    }
                    
                    .order-sheet__article__list-item {
                        display: flex;   
                        flex-direction: row;
                        padding: 8px 16px 8px 16px;
                        
                        .order-sheet__article__identification-group {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            border-left: solid 3px black;
                            margin-left: 2px;
                            padding-left: 8px;
        
                            .order-sheet__article__title {
                                font-size: 20px;
                                color: $text-color-body;
                                font-weight: bold;
                            }
            
                            .order-sheet__article__price {
                                font-size: 18px;
                                color: $text-color-caption3;
                            }
                        }

                        .order-sheet__article__total-group {
                            display: flex;
                            flex-direction: column;
                            text-align: right;
        
                            .order-sheet__article__total-group__quantity {
                                font-size: 17px;
                                color: $text-color-body;
                            }
            
                            .order-sheet__article__total-group__price {
                                font-size: 18px;
                                font-weight: 500;
                                color: $text-color-body;
                            }
                        }

                        
                    }                                
                }
            } 
        }

           

        
    }

}

.presentation {
    padding: 8px 16px 0px 16px;

    .presentation__options-container {
        margin-bottom: 8px;
        a {
            background-color: $background-color-1;
            color: $text-color-caption1;
            display: inline-block;
            padding: 8px 16px 8px 16px;
            border-radius: 24px;
            margin-right: 8px;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 500;

            &.active {
                background-color: $background-color-body-inverse;
                color: white;
            }
        }
    }

    .presentation__images-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        
        .presentation__images-container__image {
            height: 40px;
            width: 56px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
            border-radius: 3px;
            margin-right: 16px;
        }
    }

    .presentation__description {
        font-size: 16px;
        color: #1A1A1A;
        margin-bottom: 16px;
    }

    .presentation__selector {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;

        .presentation__selector__quantity-button {
            height: 48px;
            width: 48px;
            color: $text-color-body;
            border-radius: 24px;
            border: solid 2px $text-color-body;
            font-size: 26px;
            line-height: 44px;
            text-align: center;
            margin-right: 4px;


            &.disabled {
                color: $background-color-4;
                border: solid 2px $background-color-4;
            }
        }

        .presentation__selector__add-button {
            height: 48px;
            color: $text-color-body;
            border-radius: 24px;
            border: solid 2px $text-color-body;
            font-size: 14px;
            font-weight: bold;
            line-height: 44px;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            text-transform: uppercase;

            &.disabled {
                color: $background-color-4;
                border: solid 2px $background-color-4;
            }
        }

        .presentation__selector__quantity {
            font-size: 64px;
            font-weight: bold;
            color: $text-color-body;
            line-height: 48px;
        }

        .presentation__selector__quantity-label {
            font-size: 20px;
            font-weight: bold;
            color: $text-color-body;
            flex: 1;
            align-self: flex-end;
        }
    }

    
}

.overlay {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000077;
}


@keyframes ring {
    0% {
        transform: rotateZ(0deg) scale(1, 1);;
    }

    5% {
        transform: rotateZ(-15deg) scale(1.05, 1.05);
    }

    10% {
        transform: scale(1, 1);
    }

    15% {
        transform: rotateZ(15deg) scale(1.05, 1.05);
    }
    
    20% {
        transform: scale(1, 1);
    }

    25% {
        transform: rotateZ(-15deg) scale(1.05, 1.05);
    }

    30% {
        transform: scale(1, 1);
    }

    35% {
        transform: rotateZ(15deg) scale(1.05, 1.05);
    }

    40% {
        transform: scale(1, 1);
    }

    45% {
        transform: rotateZ(-15deg) scale(1.05, 1.05);
    }

    50% {
        transform: rotateZ(0deg) scale(1, 1);
    }

    100% {
        transform: rotateZ(0deg) scale(1, 1);;
    }
}