@import "variables.scss";

.dashboard {
    height: 100%;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;

    .dashboard__container {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .dashboard__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0px 16px 16px 16px;
    }

    .no-orders {
        font-weight: 500;
        font-size: 18px;
        padding: 32px;
        text-align: center;
    }

    .dashboard__logo {
        font-size: 48px;
        color: #666666;
        font-weight: bold;
        margin-left: 16px;
        height: 70px;

        .dashboard__logo__settings {
            float: right;

            a {
                color: #1e1e1e;
                margin-right: 16px;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        img.logo {
            margin-top: -10px;
            height: 60px;
        }
    }

    .dashboard__header {
        padding: 16px;
        border-top: solid 2px #666666;
        border-bottom: solid 2px #666666;
        display: flex;
        flex-direction: row;

        .dashboard__header__business {
            flex: 1;
            color: black;
            font-weight: bold;
            font-size: 16px;
        }

        .dashboard__header__totals-container {
            display: flex;
            flex-direction: row;
            flex: 1;

            .dashboard__header__totals-container__total {
                text-align: center;
                width: 150px;

                .dashboard__header__totals-container__total__title {
                    font-weight: bold;
                    font-size: 14px;
                    color: black;
                }

                .dashboard__header__totals-container__total__value {
                    font-weight: 400;
                    font-size: 24px;
                    color: black;

                    &.value--open {
                        color: $color-open
                    }

                    &.value--closed {
                        color: $color-closed
                    }
                }
            }
        }
    }

    .dashboard__tables-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
        flex: 1;
        align-content: flex-start;
        margin-left: -8px;
        margin-right: -8px;

        .dashboard__tables-container__table {
            border-radius: 3px;
            margin: 8px;
            width: 220px;
            height: 220px;
            background-color: #FFFFFF;
            padding: 8px;
            //cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: background-color 250ms;
            box-shadow: 2px 2px 4px 0px rgba(1, 1, 1, 0.1);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &.dashboard__tables-container__table--free {
                color: #1a1a1a;
                box-shadow: 0px 0px 0px;
                border: solid 1px #dddddd;
            }

            &.dashboard__tables-container__table--open {
                background-color: $color-open;
            }

            &.dashboard__tables-container__table--closed {
                background-color: $color-closed;
                
            }

            .table__title {
                font-size: 32px;
                padding: 8px;
                padding-top: 48px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: initial;
                width: 100%;
            }

            .table__actions {
                position: absolute;
                right: 0px;
                top: 8px;
                color: white;
                font-size: 18px;
                
                .dropdown>a {
                    padding: 16px;
                    color: white;
                }
            }

            .table__color {
                height: 20px;
                width: 20px;
                border: solid 2px white;
                position: absolute;
                left: 12px;
                top: 12px;
                border-radius: 10px;
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
                display: block;
            }

            .table__color__selector {
                position: absolute;
                top: 36px;
                left: 8px;
                background-color: #00000066;
                padding: 4px;
                border-radius: 12px;

                .pick-color-button {
                    display: block;
                    height: 20px;
                    width: 20px;
                    border: solid 2px white;
                    border-radius: 10px;
                    margin-bottom: 2px;
                }
            }

            .table__summary {
                font-size: 14px;
                flex: 1;
            }
        }
    }
}

.tasks-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
    
    .task {
        background-color: #00000033;
        padding: 4px 12px 4px 12px;
        border-radius: 3px;
        min-width: 36px;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF55;

        &.task--flex {
            flex: 1;
            margin-left: 4px;
            margin-right: 4px;
        }

        &.task--open {
            background-color: white;
            color: $color-open;
        }
    }
}

.no-table-selected {
    font-weight: bold;
    font-size: 18px;
    padding: 32px;
    text-align: center;
    color: #1a1a1a;
    margin-top: 250px;
}

.dashboard__sidebar {
    position: relative;
    overflow: hidden;
    border-left: solid 1px $border-color;
    background-color: $border-color;
    width: 375px;
}

@media(max-width: 767px) {
    .dashboard__sidebar {
        width: 100%;
        border-left: 0px;
    }
}

.dashboard-order {
    line-height: normal;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    .dashboard__list__item {
        border-bottom: 0px;
    }

    .no-articles {
        font-size: 12px;
        color: #666666;
        padding-left: 16px;
    }

    .dashboard-order__nav {
        background-color: black;
        height: 56px;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 56px;
        padding: 0px 16px 0px 16px;
        font-weight: 500;
        color: white;

        a {
            margin-right: 16px;
        }
    }

    &.dashboard-order--status-open {
        background-color: $color-open;

        .dashboard-order__send-button {
            color: $color-open;
        }
    }

    &.dashboard-order--status-closed {
        background-color: $color-closed;

        .dashboard-order__send-button {
            color: $color-closed;
        }
    }

    .dashboard-order__items {
        background-color: white;
        flex: 1;
        overflow-y: auto;
 
        .dashboard-order__section {
            .dashboard-order__section__list-item {

            }

            .dashboard-order__section__title {
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                color: white;
                border-top: solid 2px black;
                border-bottom: solid 2px black;
                background-color: black;
                padding: 4px 16px 4px 16px;
            }

            .dashboard-order__section__title--open {
                background-color: $color-open;
            }

            .dashboard-order__section__title--closed {
                background-color: $color-closed;
            }

            .dashboard-order__article {
                border-bottom: solid 1px $border-color;
                position: relative;
                overflow: hidden;

                .presentation {
                    margin-top: 0px;
                    margin-bottom: 8px;

                    .presentation__options-container {
                        margin-bottom: 0px;
                    }                        
                }

                .dashboard-order__article__remove-button {
                    display: block;
                    height: 48px;
                    color: $text-color-body;
                    border-radius: 24px;
                    border: solid 2px $text-color-body;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 44px;
                    text-align: center;
                    padding-left: 16px;
                    padding-right: 16px;
                    margin: 8px 16px 16px 16px;
        
                    &.disabled {
                        color: $background-color-4;
                        border: solid 2px $background-color-4;
                    }
                }

                &.dashboard-order__article--open {
                    .dashboard-order__article__list-item {
                        .dashboard-order__article__identification-group {
                            border-left: solid 3px $color-open;
                        }
                    }
                }

                &.dashboard-order__article--closed {
                    .dashboard-order__article__list-item {
                        .dashboard-order__article__identification-group {
                            border-left: solid 3px $color-closed;
                        }
                    }                        
                }
                
                .dashboard-order__article__list-item {
                    display: flex;   
                    flex-direction: row;
                    padding: 8px 16px 8px 16px;
                    
                    .dashboard-order__article__identification-group {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        border-left: solid 3px black;
                        margin-left: 2px;
                        padding-left: 8px;
    
                        .dashboard-order__article__title {
                            font-size: 20px;
                            color: $text-color-body;
                            font-weight: bold;
                        }
        
                        .dashboard-order__article__price {
                            font-size: 18px;
                            color: $text-color-caption3;
                        }
                    }

                    .dashboard-order__article__total-group {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
    
                        .dashboard-order__article__total-group__quantity {
                            font-size: 17px;
                            color: $text-color-body;
                        }
        
                        .dashboard-order__article__total-group__price {
                            font-size: 18px;
                            font-weight: 500;
                            color: $text-color-body;
                        }
                    }

                    
                }                                
            }
        } 
    }        
}

.dashboard__list {
    .dashboard__list__logo {
        background-color: black;
        text-align: center;
        display: none;
        padding: 8px;

        img.logo {
            height: 80px;
        }
    }

    @media(max-width: 767px) {
        .dashboard__list__logo {
            display: block;
        }
    }

    .dashboard__list__header {
        background-color: black;
        height: 56px;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 56px;
        padding: 0px 16px 0px 16px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    .dashboard__list__color-filters {
        display: flex;
        background-color: black;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
    

        a {
            height: 20px;
            width: 20px;
            border: solid 2px white;
            border-radius: 50%;
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
            display: block;
            margin-right: 8px;
            transition: transform 250ms;
            position: relative;

            .point {
                height: 4px;
                width: 4px;
                background-color: white;
                border-radius: 2px;
                position: absolute;
                top: calc(50% - 2px);
                left: calc(50% - 2px);
                display: none;
            }

            &.active {
                transform: scale(1.25, 1.25);

                .point {
                    display: block;
                }
            }
        }
    }

    .dashboard__list__items {

    }
}

.dashboard__list__item {
    padding: 16px;
    border-bottom: solid 2px black;
    position: relative;

    &.dashboard__list__item--open {
        background-color: $color-open;
    }

    &.dashboard__list__item--closed {
        background-color: $color-closed;
    }

    &.active {
        background-color: black;
    }

    .dashboard__list__item__top {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        margin-top: 2px;

        .table__color {
            height: 20px;
            width: 20px;
            border: solid 2px white;
            border-radius: 10px;
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
            display: block;
            margin-right: 8px;
        }

        .dashboard__list__item__top__actions {
            position: absolute;
            right: 0px;
            top: 8px;
            color: white;
            font-size: 18px;

            .dropdown>a {
                padding: 16px;
                color: white;
            }
        }

        .dashboard__list__item__top__name {
            font-size: 32px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            line-height: 18px;
            flex: 1;
            margin-right: 8px;
        }

        .dashboard__list__item__top__totals {
            font-size: 13px;
            text-transform: uppercase;
            color: white;
            line-height: 13px;
            margin-top: -3px;
            text-align: right;
            margin-right: 16px;
        }
    }

}