@import "variables.scss";

#configurator-component {
    canvas {
        background-color: white;
    }
}

.actions-bar {
    position: absolute;
    top: 5px;
    left: 5px;
    
    button {
        margin-right: 5px;
    }
}

.over {
    position: absolute;
    top: 0px;
    left:0px;

    color: white;
    padding: 50px;
}