/*-------------------------
    Variables
--------------------------*/

$primary-color: #3F51B5;
$primary-color-text: #FFFFFF;
$label-color: lighten($primary-color, 5);
$hover-color: #ebebeb;
$placeholder-color: #AEAEAE;
$background-color-body: #EAEAEA;
$background-color-1: #F2F2F2;
$background-color-2: #95989A;
$background-color-3: #DDDDDD;
$background-color-4: #CCCCCC;
$border-color: #F2F2F2;
$border-radius: 3px;
$error-color: #FF3E63;
$warning-color: #FFA81C;
$success-color: #26DD9E;
$text-color-body: #1A1A1A;
$text-color-caption3: #B3B3B3;
$text-color-caption2: #777777;
$text-color-caption1: #333333;

$form-control-text-inverse: invert(#2e353b);
$primary-color-inverse: invert($primary-color);
$background-color-body-inverse: #1a1a1a;
$background-color-1-inverse: invert($background-color-1);
$background-color-2-inverse: invert($background-color-2);
$text-color-body-inverse: invert($text-color-body);
$text-color-caption1-inverse: #B3B3B3;
$text-color-caption2-inverse: invert($text-color-caption2);
$primary-color-text-inverse: invert($primary-color-text);
$border-color-inverse: lighten(invert($border-color), 10%);

$color-closed: #1BB9D6;
$color-open: #FF1732;