.circle-loader {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-left-color: #000000;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  z-index: 5; }

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #000000;
  transition: border 500ms ease-out; }

.checkmark {
  display: none; }
  .checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg); }
  .checkmark:after {
    opacity: 1;
    height: 12px;
    width: 6px;
    transform-origin: left top;
    border-right: 3px solid #000000;
    border-top: 3px solid #000000;
    content: '';
    left: 6px;
    top: 12px;
    position: absolute; }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 6px;
    opacity: 1; }
  40% {
    height: 12px;
    width: 6px;
    opacity: 1; }
  100% {
    height: 12px;
    width: 6px;
    opacity: 1; } }
