/*-------------------------
    Variables
--------------------------*/
/*-------------------------
    Global Loader
--------------------------*/
html:not(.ismobile) .global-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000; }
  html:not(.ismobile) .global-loader .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7; }
  html:not(.ismobile) .global-loader .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3000ms;
    animation-duration: 3000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  html:not(.ismobile) .global-loader p {
    white-space: nowrap;
    position: relative;
    top: 50%;
    color: #CCC;
    width: 100%;
    text-align: center; }

html.ismobile .global-loader {
  display: none; }

/*-------------------------
    Utility classes
--------------------------*/
.search-cursor {
  cursor: pointer; }

.pointer-cursor {
  cursor: pointer; }

.btn-no-shadow {
  box-shadow: 0 0px 0px !important; }

.hover {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s; }

.hover:hover {
  background-color: #ebebeb !important; }

.animated-fast {
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s; }

.card-header-inverse {
  background-color: #3F51B5; }
  .card-header-inverse h2 {
    color: #FFFFFF; }

/*-------------------------
    Tables
--------------------------*/
.table-hover > tbody > tr:hover {
  background-color: #ebebeb; }

.table-hover > tbody > tr.selected {
  background-color: #3F51B5;
  color: white; }

.table-hover > tbody > tr.selected:hover {
  background-color: #32408f; }

.result-summary {
  margin-bottom: 25px;
  font-size: .9rem;
  color: #9c9c9c; }

/*-------------------------
    Forms
--------------------------*/
.form .form-group .toggle-switch {
  margin-top: 9px; }
  .form .form-group .toggle-switch .ts-label {
    margin: 0px 0px 0px 10px; }

.form .has-error label {
  color: #FF3E63; }

/*-------------------------
    Grids
--------------------------*/
.table-hover > tbody > tr.level-0 {
  background-color: white; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-0:nth-of-type(odd) {
  background-color: #f9f9f9; }

.table-hover > tbody > tr.level-0:hover {
  background-color: #ebebeb; }

.table-hover > tbody > tr.level-0.selected:hover {
  background-color: #32408f; }

.table-hover > tbody > tr.level-0.selected {
  background-color: #3f51b5;
  color: white; }

.table-hover > tbody > tr.level-1 {
  background-color: #e6e6e6; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-1:nth-of-type(odd) {
  background-color: #e0e0e0; }

.table-hover > tbody > tr.level-1:hover {
  background-color: #d2d2d2; }

.table-hover > tbody > tr.level-1.selected:hover {
  background-color: #252f69; }

.table-hover > tbody > tr.level-1.selected {
  background-color: #32408f;
  color: white; }

.table-hover > tbody > tr.level-2 {
  background-color: #cccccc; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-2:nth-of-type(odd) {
  background-color: #c6c6c6; }

.table-hover > tbody > tr.level-2:hover {
  background-color: #b8b8b8; }

.table-hover > tbody > tr.level-2.selected:hover {
  background-color: #171e44; }

.table-hover > tbody > tr.level-2.selected {
  background-color: #252f69;
  color: white; }

.table-hover > tbody > tr.level-3 {
  background-color: #b3b3b3; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-3:nth-of-type(odd) {
  background-color: #adadad; }

.table-hover > tbody > tr.level-3:hover {
  background-color: #9f9f9f; }

.table-hover > tbody > tr.level-3.selected:hover {
  background-color: #0a0d1e; }

.table-hover > tbody > tr.level-3.selected {
  background-color: #171e44;
  color: white; }

.table-hover > tbody > tr.level-4 {
  background-color: #999999; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-4:nth-of-type(odd) {
  background-color: #939393; }

.table-hover > tbody > tr.level-4:hover {
  background-color: #858585; }

.table-hover > tbody > tr.level-4.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-4.selected {
  background-color: #0a0d1e;
  color: white; }

.table-hover > tbody > tr.level-5 {
  background-color: gray; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-5:nth-of-type(odd) {
  background-color: #7a7a7a; }

.table-hover > tbody > tr.level-5:hover {
  background-color: #6c6c6c; }

.table-hover > tbody > tr.level-5.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-5.selected {
  background-color: black;
  color: white; }

.table-hover > tbody > tr.level-6 {
  background-color: #666666; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-6:nth-of-type(odd) {
  background-color: #606060; }

.table-hover > tbody > tr.level-6:hover {
  background-color: #525252; }

.table-hover > tbody > tr.level-6.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-6.selected {
  background-color: black;
  color: white; }

.table-hover > tbody > tr.level-7 {
  background-color: #4d4d4d; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-7:nth-of-type(odd) {
  background-color: #474747; }

.table-hover > tbody > tr.level-7:hover {
  background-color: #393939; }

.table-hover > tbody > tr.level-7.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-7.selected {
  background-color: black;
  color: white; }

.table-hover > tbody > tr.level-8 {
  background-color: #333333; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-8:nth-of-type(odd) {
  background-color: #2d2d2d; }

.table-hover > tbody > tr.level-8:hover {
  background-color: #1f1f1f; }

.table-hover > tbody > tr.level-8.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-8.selected {
  background-color: black;
  color: white; }

.table-hover > tbody > tr.level-9 {
  background-color: #1a1a1a; }

.table-hover > tbody > tr:hover, .table-striped > tbody > tr.level-9:nth-of-type(odd) {
  background-color: #141414; }

.table-hover > tbody > tr.level-9:hover {
  background-color: #060606; }

.table-hover > tbody > tr.level-9.selected:hover {
  background-color: black; }

.table-hover > tbody > tr.level-9.selected {
  background-color: black;
  color: white; }

.grid .table {
  border-radius: 3px 0px 0px 0px; }
  .grid .table thead tr th:first-child {
    border-radius: 3px 0px 0px 0px; }
  .grid .table thead tr th:last-child {
    border-radius: 0px 3px 0px 0px; }

.grid .table > thead > tr > th.sorting_asc:after {
  content: '\f1cd'; }

.grid .table > thead > tr > th.sorting_asc:after, .grid .table > thead > tr > th.sorting_desc:after {
  font-family: Material-Design-Iconic-Font;
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.4rem; }

.grid .table > thead > tr > th.sorting_desc:after {
  content: '\f1ce'; }

.grid .table > thead > tr > th.sorting_asc:after, .grid .table > thead > tr > th.sorting_desc:after {
  font-family: Material-Design-Iconic-Font;
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.4rem; }

.grid .table > thead > tr > th:last-child {
  padding-right: 15px; }

.grid .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
  padding-bottom: 15px; }

.grid .table.table-condensed > tbody > tr:last-child > td, .table.table-condensed > tfoot > tr:last-child > td {
  padding-bottom: 10px; }

tr.collapsible {
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0); }
  tr.collapsible .collapsed {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  tr.collapsible .expanded {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

.quick-search-container .quick-search {
  border-bottom: 1px solid #eceff1;
  padding: 5px;
  margin-bottom: 10px;
  position: relative; }
  .quick-search-container .quick-search .quick-search-input-container {
    margin-left: 30px; }
    .quick-search-container .quick-search .quick-search-input-container input {
      border: 0px;
      width: 100%;
      height: 100%;
      font-weight: 500; }
  .quick-search-container .quick-search i.zmdi {
    font-size: 20px; }
  .quick-search-container .quick-search:after {
    right: 50%; }
  .quick-search-container .quick-search:before {
    left: 50%; }
  .quick-search-container .quick-search:after, .quick-search-container .quick-search:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -1px;
    transition: width .5s ease;
    background-color: #3F51B5; }
  .quick-search-container .quick-search.quick-search__active:after {
    width: 50%; }
  .quick-search-container .quick-search.quick-search__active:before {
    width: 50%; }

.modal .quick-search {
  margin-right: 0px !important; }

@media (max-width: 767px) {
  .quick-search-container {
    width: 100%; }
  .img-center-max-768 {
    display: block;
    margin: 0 auto; } }

@media (min-width: 767px) {
  .width-20-min-768 {
    width: 20%; }
  .border-right-lightgray-min-768 {
    border-right: 1px solid #dbdbdb; }
  .padding-bottom-40-min-768 {
    padding-bottom: 40px; } }

.grid-actions {
  width: 1%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  position: relative; }
  .grid-actions .grid-actions-container {
    white-space: nowrap;
    position: absolute;
    right: 7px;
    margin-top: -4px; }
    .grid-actions .grid-actions-container a.grid-action {
      display: inline-block;
      color: #5E5E5E;
      width: 25px;
      height: 25px;
      border-radius: 2px;
      font-size: 18px;
      text-align: center;
      line-height: 26px; }
    .grid-actions .grid-actions-container a.grid-action:hover {
      background-color: #d2d2d2; }

.edit-text-cell .form-control {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 18px; }

/*-------------------------
    Select2
--------------------------*/
.select2-selection,
.select2-selection--multiple,
.select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border: 0px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px; }
  .select2-selection .select2-search__field,
  .select2-selection--multiple .select2-search__field,
  .select2-selection--single .select2-search__field,
  .select2-container--default .select2-selection--multiple .select2-search__field,
  .select2-container--default .select2-selection--single .select2-search__field,
  .select2-container--default.select2-container--focus .select2-selection--multiple .select2-search__field,
  .select2-container--default.select2-container--focus .select2-selection--single .select2-search__field {
    margin-top: 8px; }
  .select2-selection .select2-selection__rendered,
  .select2-selection--multiple .select2-selection__rendered,
  .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--multiple .select2-selection__rendered,
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered,
  .select2-container--default.select2-container--focus .select2-selection--single .select2-selection__rendered {
    padding-left: 0px; }

.select2-dropdown {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
  border: 0;
  top: 0;
  border-radius: 2px; }

/*-------------------------
    Lookup
--------------------------*/
.lookup {
  background-color: #ffffff;
  border: solid 1px #F2F2F2;
  margin-bottom: 3px; }
  .lookup .lookup-header {
    background-color: #FFFFFF;
    height: 30px;
    padding-left: 7px;
    cursor: pointer;
    position: relative; }
    .lookup .lookup-header .placeholder {
      color: #AEAEAE; }
    .lookup .lookup-header .actions {
      position: absolute;
      right: 10px;
      top: 0px; }
      .lookup .lookup-header .actions .actions__item {
        margin-right: -10px; }
  .lookup .lookup-header:hover {
    background-color: #ebebeb; }
  .lookup table {
    /*
    thead {
      th {
        background-color: #FFFFFF;
      }
    }

    td {
      background-color: #fafafa;
    }

    tr:first-child td {
      border-top: 0px;
    }

    tr:hover td {
      background-color: #f0f0f0;
    }
    */
    margin-bottom: 0px; }
    .lookup table:not(.table-bordered) > tbody:first-child td, .lookup table:not(.table-bordered) > tbody:first-child th, .lookup table:not(.table-bordered) > thead:first-child td, .lookup table:not(.table-bordered) > thead:first-child th {
      border-top: 1px solid #f2f4f5; }
    .lookup table th.actions, .lookup table td.actions {
      width: 1%;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
      position: relative; }
      .lookup table th.actions .action, .lookup table td.actions .action {
        position: absolute;
        bottom: 3px; }
  .lookup .lookup-current-value {
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-top: 5px; }

/*-------------------------
    input-file
--------------------------*/
.input-file {
  background-color: #ffffff;
  border: solid 1px #F2F2F2;
  cursor: pointer;
  height: 30px;
  position: relative;
  overflow: hidden; }
  .input-file .input-file-name {
    padding-left: 7px;
    padding-top: 6px;
    display: block; }
  .input-file .placeholder {
    color: #AEAEAE;
    padding-left: 7px;
    padding-top: 6px;
    display: block;
    cursor: pointer; }
  .input-file input[type=file] {
    position: absolute;
    height: 0%;
    width: 0%;
    top: -100%;
    left: 0px;
    opacity: 0; }

.input-file:hover {
  background-color: #ebebeb; }

/*-------------------------
    input-image
--------------------------*/
.input-image {
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden; }
  .input-image .img-responsive {
    border-radius: 0px; }
  .input-image .input-image-container {
    position: relative;
    display: block; }
    .input-image .input-image-container .actions {
      position: absolute;
      top: 5px;
      right: 5px; }
  .input-image input[type=file] {
    position: absolute;
    height: 0%;
    width: 0%;
    top: -100%;
    left: 0px;
    opacity: 0; }

/*-------------------------
    profile-box
--------------------------*/
.s-profile {
  position: relative; }
  .s-profile .cover {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 129px;
    position: absolute; }
  .s-profile .sp-pic {
    position: relative; }

/*-------------------------
    forms areas
--------------------------*/
.area-no-card {
  position: relative; }
  .area-no-card .area-no-card-header .actions {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 4; }
  .area-no-card .area-no-card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 30px;
    color: #777; }
  .area-no-card .area-no-card-body {
    margin-left: -15px;
    margin-right: -15px; }

/*-------------------------
    Select form control
--------------------------*/
.has-error .bootstrap-select .btn-default {
  border-color: #FF3E63 !important; }

/*-------------------------
    Toggle switch inverse
--------------------------*/
.toggle-switch.toggle-switch-inverse:not([data-ts-color]) input:not(:disabled):checked + .ts-helper {
  background: #26DD9E; }

.toggle-switch.toggle-switch-inverse .ts-helper {
  background-color: #95989A;
  -webkit-transition: background-color 0.28s;
  transition: background-color 0.28s;
  vertical-align: middle;
  cursor: pointer; }

.toggle-switch:not([data-ts-color]) input:not(:disabled):checked + .ts-helper:before {
  background-color: #F2F2F2; }

.form-group .toggle-switch .ts-label {
  color: #B3B3B3; }

/*-------------------------
    form spacer
--------------------------*/
.form-spacer-control {
  height: 60px; }

/*---form bar primar color */
.form-group__bar:after, .form-group__bar:before {
  background-color: #3F51B5; }

/*-------------------------
    color picker
--------------------------*/
.cp-container input.cp-value {
  color: #000 !important;
  background: 0 0 !important; }

/*************************
** Standard select
******************-*****/
.select:before {
  background-color: transparent !important; }

.form-group.select-cell {
  margin-bottom: 0px; }

.edit-text-cell {
  background-color: rgba(193, 193, 193, 0.52);
  max-width: 100px;
  height: 25px;
  padding: 3px 10px; }

.color-white {
  color: white !important; }

.zero-padding {
  padding-left: 0;
  padding-right: 0; }

.zero-padding-left {
  padding-left: 0; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.bgm-gray {
  background-color: #E6E6E6 !important;
  color: #9f9f9f !important; }

.readOnlyImage {
  width: 240px;
  height: 240px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 50%;
  border: 1px solid #e8e8e8; }

.full-width, .buttonCheckbox {
  width: 100%; }

.height-40, .buttonCheckbox {
  height: 40px; }

.fs9 {
  font-size: 9px; }

.fs10 {
  font-size: 10px; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs14 {
  font-size: 14px; }

.fs16 {
  font-size: 16px; }

.fs18 {
  font-size: 18px; }

.fs20 {
  font-size: 20px; }

.fs36 {
  font-size: 36px; }

.fs42 {
  font-size: 42px; }

.fs56 {
  font-size: 56px; }

.fs72 {
  font-size: 72px; }

.btn-actions-bar {
  text-align: right; }
  .btn-actions-bar .btn {
    margin-left: 5px; }

.btn-primary {
  background-color: #3F51B5;
  border-color: #3F51B5; }
  .btn-primary:hover {
    background-color: #252f69;
    border-color: #252f69; }

.radio__label:after {
  background-color: #3F51B5; }

.checkbox > input[type=checkbox]:checked ~ .checkbox__label:before, .checkbox > input[type=checkbox]:checked ~ .radio__label:before, .checkbox > input[type=radio]:checked ~ .checkbox__label:before, .checkbox > input[type=radio]:checked ~ .radio__label:before, .radio > input[type=checkbox]:checked ~ .checkbox__label:before, .radio > input[type=checkbox]:checked ~ .radio__label:before, .radio > input[type=radio]:checked ~ .checkbox__label:before, .radio > input[type=radio]:checked ~ .radio__label:before {
  border-color: #3F51B5; }

.form-group--float .form-control:focus ~ label {
  color: #4d5ec1; }

.checkbox > input[type=checkbox]:checked ~ .checkbox__label:before, .checkbox > input[type=radio]:checked ~ .checkbox__label:before, .radio > input[type=checkbox]:checked ~ .checkbox__label:before, .radio > input[type=radio]:checked ~ .checkbox__label:before {
  background-color: #3F51B5; }
