/*-------------------------
    Variables
--------------------------*/
.menu-editor__macro-category {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #F2F2F2;
  border-right: solid 1px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
  transition: background-color 0.25s; }
  .menu-editor__macro-category:first-child {
    border-top: solid 1px #F2F2F2; }
  .menu-editor__macro-category .menu-editor__macro-category__header {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .menu-editor__macro-category .menu-editor__macro-category__anchor {
    margin: 8px;
    margin-left: 16px; }
    .menu-editor__macro-category .menu-editor__macro-category__anchor a {
      cursor: grab; }
  .menu-editor__macro-category .menu-editor__macro-category__image img {
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 8px;
    margin-right: 16px; }
  .menu-editor__macro-category .menu-editor__macro-category__name {
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1; }
  .menu-editor__macro-category .menu-editor__macro-category__actions {
    margin: 8px;
    opacity: 0;
    transition: opacity 0.25s; }
  .menu-editor__macro-category:hover {
    background-color: #f8f8f8; }
    .menu-editor__macro-category:hover .menu-editor__macro-category__actions {
      opacity: 1; }
  .menu-editor__macro-category .menu-editor__macro-category__items {
    margin-left: 96px;
    padding-left: 0px; }

.menu-editor__category {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #F2F2F2;
  border-right: solid 0px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
  transition: background-color 0.25s; }
  .menu-editor__category:first-child {
    border-top: solid 1px #F2F2F2; }
  .menu-editor__category:last-child {
    border-bottom: 0px; }
  .menu-editor__category .menu-editor__category__header {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .menu-editor__category .menu-editor__category__anchor {
    margin: 8px;
    margin-left: 16px; }
    .menu-editor__category .menu-editor__category__anchor a {
      cursor: grab; }
  .menu-editor__category .menu-editor__category__image img {
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 8px;
    margin-right: 16px; }
  .menu-editor__category .menu-editor__category__name {
    font-size: 16px;
    font-weight: 400;
    flex-grow: 1; }
  .menu-editor__category .menu-editor__category__actions {
    margin: 8px;
    opacity: 0;
    transition: opacity 0.25s; }
  .menu-editor__category:hover {
    background-color: #ebebeb; }
    .menu-editor__category:hover .menu-editor__category__actions {
      opacity: 1; }
  .menu-editor__category .menu-editor__category__items {
    margin-left: 44px;
    padding-left: 0px; }

.menu-editor__article {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #F2F2F2;
  border-right: solid 0px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
  transition: background-color 0.25s; }
  .menu-editor__article:first-child {
    border-top: solid 1px #F2F2F2; }
  .menu-editor__article:last-child {
    border-bottom: 0px; }
  .menu-editor__article .menu-editor__article__header {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .menu-editor__article .menu-editor__article__anchor {
    margin: 8px;
    margin-left: 16px; }
    .menu-editor__article .menu-editor__article__anchor a {
      cursor: grab; }
  .menu-editor__article .menu-editor__article__image img {
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 8px;
    margin-right: 16px; }
  .menu-editor__article .menu-editor__article__name {
    font-size: 12px;
    flex-grow: 1; }
  .menu-editor__article .menu-editor__article__actions {
    margin: 8px;
    opacity: 0;
    transition: opacity 0.25s; }
  .menu-editor__article .menu-editor__article__price {
    width: 160px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s; }
    .menu-editor__article .menu-editor__article__price .label {
      font-size: 12px; }
  .menu-editor__article:hover {
    background-color: #dedede; }
    .menu-editor__article:hover .menu-editor__article__actions {
      opacity: 1; }
    .menu-editor__article:hover .menu-editor__article__price {
      opacity: 1; }
  .menu-editor__article:focus-within .menu-editor__article__price {
    opacity: 1; }
